<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is an Evening Html Page</h1>
        <h1>There peaceful place in India !!!!.... </h1>
        <h1>Evening Times so much of beatiful sky  and beautiful lightings!!!!...</h1>

        <h1><a href="{% url 'morning' %}">Go to the Morning Page</a></h1>

        <h1><a href="{% url 'night' %}">Go to the Night Page</a></h1>
    </center>
</body>
</html>