<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is an Morning Html Page</h1>
        <h1>In morning times their is a peaceful minds and can do any work in morning times!!!!!</h1>
        <h1>A up of tea or milk in the morning!!!..</h1>




        <h1><a href="{% url 'evening' %}">Go to the Evening Page</a></h1> 

        <h1><a href="{% url 'night' %}">Go to the Night Page</a></h1>
    </center>
</body>
</html>