<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is an Night Html Page.</h1>
        <h1>Night view is very beautiful and colourful lighting !..</h1>
        <h1>Night Rides are very Special with friends like long driving....</h1>


        <h1><a href="{% url 'morning' %}">Go to the Morning Page</a></h1>

        <h1><a href="{% url 'evening' %}">Go to the Evening Page</a></h1>
    </center>
</body>
</html>